@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url(hero-bg.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.header {
  position: absolute;
  background: transparent;
  padding: 20px 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header p {
  display: inline-block;
  margin-top: 20px;
  margin-left: 15px;
}
.logo {
  color: wheat;
  font-size: 35px;
  cursor: pointer;
}
.logo:hover {
  color: brown;
}
.dot1 {
  color: brown;
}
.items {
  color: wheat;
  font-size: 18px;
  cursor: pointer;
}

.pis:hover {
  color: rgb(138, 43, 43);

  transition: ease-out 0.1s;
}
.left-side {
  position: absolute;
  color: aliceblue;
  top: 30%;
  margin-left: 130px;

  width: 600px;
}

.left h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.dot5 {
  color: brown;
}

.left p {
  line-height: 26px;
  font-weight: bold;
  font-size: 18px;
}
.para {
  font-size: 25px;
  font-style: italic;
}
.btn {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 30px;
  background-color: wheat;
  border-style: none;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
}

.logo {
  transition: ease-out 0.1s;
}
